.form-section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

#item-form {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

#item-form label {
  font-weight: bold;
}

.form-section.hidden {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}


#form-submit {
  width: fit-content;
  padding: 6px 12px;
  margin-top: 7px;
}

.form-image {
  width: 250px;
  height: 250px;
  object-fit: contain; 
  flex-shrink: 0;
}

img.preview {
  width: 100px;
  height: auto;
}
